.footer {
    background-color: #F1F1F1;
    padding: 1rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permet au contenu de se réorganiser pour les petits écrans */
}

.footer-list li {
    margin: 0 1rem;
}

.footer-list li a {
    text-decoration: none;
    color: #007AFF;
    font-size: 1rem;
}

/* Styles pour mobile */
@media (max-width: 768px) {
    .footer-list {
        flex-direction: column;
        align-items: center;
    }

    .footer-list li {
        margin: 0.5rem 0;
    }

    .footer-list li a {
        font-size: 1.2rem;
    }
}
